[Unit]
Description=Start the musicbox system.
After=sound.target

[Service]
Type=simple
ExecStart=/usr/bin/make -f /home/pi/musicBox/Makefile
RemainAfterExit=true
WorkingDirectory=/home/pi/musicBox
ExecStop=/usr/bin/pkill -f musicbox.py
StandardOutput=journal
StandardError=journal
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
